.tabs {
  display: flex;
  gap: 0.7rem; // 7px
  margin-bottom: 2.1rem; // 21px
  align-items: center;

  // Use media query mixin for larger screens
  @include respond-to(medium) {
    gap: 2rem;
  }

  &-search-type {
    display: none;

    @include respond-to(medium) {
      display: block;
      margin-bottom: 0;
      color: $color-white;
      font-size: $font-size-16;
      text-transform: uppercase;
      margin-right: 0.4rem;
    }
  }

  .tab {
    background-color: transparent;
    outline: none;
    flex: 1;
    font-size: $font-size-14;
    color: $color-yellow-dark;
    font-weight: $font-weight-bold;
    border: 0.3rem solid $color-yellow-dark;
    border-radius: $border-radius-large;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    line-height: $line-height-17;
    text-transform: uppercase;

    &-active {
      position: relative;
      color: $color-blue;
      background-color: $color-yellow-dark;

      &::after {
        content: "";
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: rotate(45deg) translate(-0.5rem, -0.5rem); // Adjusted for rem
        width: 1rem;
        height: 1rem;
        background-color: $color-yellow-dark;
      }
    }

    @include respond-to(medium) {
      max-width: 15rem; // 150px
    }
  }
}