.above-the-fold {
  background: $color-blue;
  padding-top: 2.4rem;
}

.above-the-fold .headline {
  max-width: 78rem;
  margin: 0 auto;
  margin-bottom: 2.8rem;

  @include respond-to(medium) {
    margin-bottom: 3.8rem;
  }
}