.loading {
  background-color: $color-gray-4;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &-spinner {
    animation: spinner 2000ms infinite;

    @include respond-to(medium) {
      width: 15.4rem;
      height: 15.4rem;
    }
  }

  &-text {
    font-size: $font-size-18;
    color: $color-blue;
    font-weight: $font-weight-bold;
    margin-top: 2.7rem;

    @include respond-to(medium) {
      font-size: $font-size-24;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}