@import './variables';

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  color: #000;
  font-size: $font-size-18;
}

h1 {
  font-size: $font-size-32;
  font-weight: bold;

  @include respond-to(medium) {
    font-size: $font-size-48;
  }

  @include respond-to(large) {
    font-size: $font-size-52;
  }
}


h2 {
  font-size: $font-size-16;
  /* Default for mobile */
  font-weight: $font-weight-normal;
  line-height: $line-height-20;

  @include respond-to(medium) {
    font-size: $font-size-20;
    line-height: normal;
    /* Tablet and up */
  }

  @include respond-to(large) {
    font-size: $font-size-24;
    /* Desktop and up */
  }
}

h3,
h5 {
  font-size: $font-size-20;
  font-weight: $font-weight-bold;
  color: $color-blue;

  @include respond-to(medium) {
    font-size: $font-size-22;
  }
}

h4 {
  font-size: $font-size-20;
  font-weight: bold;
  color: $color-blue;

  @include respond-to(medium) {
    font-size: $font-size-32;
  }
}

section {
  padding: 4rem 0 5.2rem;
}

.text-primary {
  color: $color-blue !important;
}

.text-secondary {
  color: $color-gray-3 !important;
}

.container {
  max-width: 98rem;
  padding: 0 1.6rem;
}